
<h2>All Notes</h2>
<ul class="uk-list uk-list-striped">
	<% @notes.each do |note| %>
	<li>
		<a href="/note/<%= note.id %>"><%= note.title %></a> | <%= note.pretty_time %>
	</li>
	<% end %>
</ul>


<h2>Add Note</h2>
<form method="post" action="/note">
	<label for="title">Title: </label>
	<input class="uk-input" type="text" name="title">
	<label for="body">Body: </label>
	<input class="uk-input" type="text" name="body">
	<input class="uk-button uk-button-primary" type ="submit" value="Add Note">
</form>