
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Note Maker</title>	
		<link rel="stylesheet" href="/css/normalize.css">
		<link rel="stylesheet" href="/css/application.css">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script src="/js/application.js"></script>		
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/css/uikit.min.css" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/js/uikit.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/js/uikit-icons.min.js"></script>
	</head>
	<body >
		<header>
			<nav class="uk-navbar-container" uk-navbar>
				<ul class="uk-navbar-nav">
					<li><a class="uk-active" href="/">Home</a></li>
					<li><a href="/notes/new">New Note</a></li>
				</ul>	
			</nav>			
		</header>
		<div class="uk-container uk-container-small uk-padding-large">
			<h1 class="uk-text-center uk-heading-large">Note Maker</h1>
			<%= yield %>
		</div>
		<footer>
			<ul class="uk-list uk-text-center">
				<li><a href="https://github.com/jtmunoz/note-maker" target="_blank"><img src="../assets/Octocat.png" height="16" width="16" /> Github</a></li>
			</ul>
		</footer>
	</body>
</html>


